/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

/* Site Wide */
html {
  background: #e0e0e0;
}

/* Trivia Answers */
.answers {
  justify-content: space-between;
  margin-top: 50px;
}

.answer-button {
  background: #0057ac;
  color: #fff;
  min-height: 70px;
  cursor: pointer;
  margin-bottom: 30px;
  display: flex;
}

.answer-option {
  font-size: 30px;
  font-weight: bold;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* Game Logic (Right/Wrong Answers) */
.correct-answer {
    border: 5px solid #1ea55b;
}

.correct-answer .answer-button {
  background: #1ea55b;
}

.wrong-answer {
  border: 5px solid #dc0a0a;
}

.wrong-answer .answer-button {
  background: #dc0a0a;
}

.disabled-answer {
  pointer-events: none;
}

.question {
  font-weight: bold;
  text-align: center;
}
